$main_color: #051f34;

$light_color: #f4f5f5;

$dark_color: #000000;

$add_color: #027495;

$main_color2: #464e5b;

$add_color2: #ef8555;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
   padding: 0;
   margin: 0;
}

li {
  list-style: none;
}

div {
  box-sizing: border-box;
}

.button {
  outline: none;
  width: 250px;
  line-height: 60px;
  background: transparent;
  border: 2px solid $dark_color;
  color: $dark_color;
  font-family: "Code Pro Light", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  display: block;
  margin: 30px auto;
  white-space: nowrap;
  text-align: center;
  &:hover {
    background: $dark_color;
    color: $light_color;
    transform: scale(1.1);
  }
}

.main {
  background: url("../images/bakground/work (1).jpg") fixed;
}

.top, .resume, .portfolio, .contacts {
  position: absolute;
  top: 0;
}

.first-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/bakground/work (2).png") center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 2;
  justify-content: space-between;
}

.navigation-box {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  padding: 30px;
}

.navigation {
  font-family: "Code Pro Light", sans-serif;
  font-size: 25px;
  a {
    color: $light_color;
    padding: 30px;
    cursor: pointer;
    transition: 1s;
    &:hover {
      color: $add_color2;
    }
  }
}

.first-screen_headline {
  font-family: "Code Pro Regular", sans-serif;
  color: $light_color;
  font-size: 65px;
  text-align: center;
}

.first-screen_sub-headline {
  font-family: "Code Pro Light", sans-serif;
  color: $light_color;
  font-size: 35px;
  position: relative;
  text-align: center;
  &::before,
  &::after {
    content: "";
    height: 2px;
    width: 137px;
    display: block;
    background-color: $light_color;
    position: absolute;
    bottom: 24px;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

.scroll-down_link {
  bottom: 20px;
  left: 50%;
  padding: 20px;
  background: url("../images/svg/down-arrow.svg") no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: 1s;
  &:before {
    content: "SCROLL DOWN";
    color: $dark_color;
    font-family: "Code Pro Regular", sans-serif;
    font-size: 20px;
    position: absolute;
    white-space: nowrap;
    top: -20px;
    left: -45px;
    opacity: 0;
    transition: 1s;
  }
  &:hover {
    transform: scale(1.2);
    &:before {
      opacity: 1;
    }
  }
}

.second-screen,
.third-screen,
.fourth-screen {
  position: relative;
}

.third-screen,
.fourth-screen {
  z-index: 2;
}

.second-screen {
  z-index: 3;
}

.second-screen_headline,
.third-screen_headline,
.fourth-screen_headline {
  text-align: center;
  font-family: "Code Pro Regular", sans-serif;
  color: $dark_color;
  font-size: 45px;
  width: 100%;
  line-height: 200px;
}

.second-screen_title,
.third-screen_title,
.fourth-screen_title {
  width: 100%;
  background-color: transparent;
  height: 200px;
}

.second-screen_content,
.third-screen_content,
.fourth-screen_content {
  width: 100%;
  background-color: $light_color;
  padding: 5% 10%;
}

.sidebar {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 225px;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.sidebar_top-link,
.sidebar_resume-link,
.sidebar_portf-link,
.sidebar_cont-link {
  padding: 30px;
  cursor: pointer;
  margin: 20px;
  transition: 0.5s;
  &:before {
    position: absolute;
    right: 65px;
    top: 22px;
    font-family: "Minaxi Hairline", sans-serif;
    font-size: 15px;
    opacity: 0;
    transition: 0.6s;
  }
  &:hover {
    &:before{
      opacity: 1;
    }
  }
  &:hover {
    transform: scale(1.2);
  }
}

.sidebar_top-link {
  background: url("../images/svg/sidebar/arrow.svg") 50% no-repeat;
  background-size: contain;
  &:before {
    content: "top";
  }
}

.sidebar_resume-link {
  background: url("../images/svg/sidebar/profile.svg") 50% no-repeat;
  background-size: contain;
  &:before {
    content: "resume";
  }
}

.sidebar_portf-link {
  background: url("../images/svg/sidebar/suitcase.svg") 50% no-repeat;
  background-size: contain;
  &:before {
    content: "portfolio";
  }
}

.sidebar_cont-link {
  background: url("../images/svg/sidebar/phone-book-1.svg") 50% no-repeat;
  background-size: contain;
  &:before {
    content: "contacts";
  }
}

.resume-photo {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  display: block;
  margin: 10px auto;
}

.second-screen_sub-title {
  color: $dark_color;
  font-family: "Code Pro Regular", sans-serif;
  font-size: 30px;
  padding: 30px 0 20px 0;
}

.resume_about-me {
  h1 {
    font-family: "Code Pro Regular", sans-serif;
    font-size: 30px;
    position: relative;
    margin: auto;
    white-space: nowrap;
    width: 317px;
    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 125px;
      display: block;
      background-color: $dark_color;
      position: absolute;
      bottom: 21px;
    }
    &::before {
      left: 325px;
    }
    &::after {
      right: 325px;
    }
  }
  p {
    margin: 20px 60px;
    text-align: center;
    font-family: "Minaxi Hairline", sans-serif;
    font-size: 20px;
  }
}

.resume-item_tech,
.resume-item_work,
.resume-item_edu {
  & li, span {
    font-family: "Minaxi Hairline", sans-serif;
    font-size: 20px;
    padding: 5px 0;
  }
  span {
    display: block;
  }
}

.third-screen_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $add_color2;
}

.portfolio-item {
  display: flex;
  margin: 10px;
  padding: 20px;
  transition: 0.6s;
  &:hover {
    transform: scale(1.1);
  }
  &:hover .portfolio-item_img {
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
}

.portfolio-item_link {
  width: 70%;
  cursor: pointer;
}

.portfolio-item_img {
  width: 200px;
  height: 200px;
  transition: 0.5s;
}

.portfolio-item_info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h2 {
    font-family: "Corbert", sans-serif;
    color: $dark_color;
    font-size: 30px;
  }
  p {
    font-family: "Minaxi Hairline", sans-serif;
    color: $dark_color;
    font-size: 20px;
  }
  span {
    color: $light_color;
    font-family: "Code Pro Light", sans-serif;
  }
}

.fourth-screen {
  h2 {
    font-family: "Corbert", sans-serif;
    color: $main_color;
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }
}

.fourth-screen_content {
  height: 62vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contacts-box {
  width: 100%;
}

.fourth-screen_e-mail-box,
.fourth-screen_git-hub-box,
.fourth-screen_phone-box {
  margin: 20px 0;
}

.fourth-screen_e-title,
.fourth-screen_git-hub-title,
.fourth-screen_phone-title {
  font-family: Corbert, sans-serif;
  color: $dark_color;
  font-size: 25px;
  padding-left: 30px;
}

.fourth-screen_e-title {
  background: url("../images/svg/e-mail.svg") left 35% no-repeat;
  background-size: 20px;
}

.fourth-screen_git-hub-title {
  background: url("../images/svg/github-logo.svg") left no-repeat;
  background-size: 20px;
}

.fourth-screen_phone-title {
  background: url("../images/svg/phone.svg") left no-repeat;
  background-size: 20px;
}


.fourth-screen_e-mail,
.fourth-screen_git-hub-link,
.fourth-screen_phone-number {
  font-family: "Minaxi Hairline", sans-serif;
  color: $add_color2;
  margin-left: 10px;
  font-size: 20px;
  a {
    color: $add_color2;
    transition: 0.5s;
    &:hover {
      text-decoration: underline;
    }
  }
}

.to-top-link {
  color: $dark_color;
  display: block;
  width: 50px;
  height: 40px;
  margin: 15px 0;
  background: url("../images/svg/up-arrow.svg") center top no-repeat;
  background-size: contain;
  position: relative;
  cursor: pointer;
  transition: 1s;
    &:before {
      content: "SCROLL TOP";
      color: $dark_color;
      font-family: "Code Pro Regular", sans-serif;
      font-size: 15px;
      position: absolute;
      white-space: nowrap;
      top: 40px;
      left: -17px;
      opacity: 0;
      transition: 1s;
    }
  &:hover {
    transform: scale(1.1);
    &:before {
      opacity: 1;
    }
  }
}

.footer {
  height: 100px;
  padding: 20px;
  background: $dark_color;
  color: $light_color;
  font-family: "Minaxi Hairline", sans-serif;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
