@media all and (max-width: 1024px) {
    .first-screen {
        background: url("../images/bakground/work (2).png") center center no-repeat local;
        background-size: cover; }
    .sidebar_top-link:before,
    .sidebar_resume-link:before,
    .sidebar_portf-link:before,
    .sidebar_cont-link:before,
    .scroll-down_link:before,
    .to-top-link:before {
        display: none; } }

@media all and (max-width: 965px) {
    .portfolio-item_link {
        width: 100%; } }

@media all and (max-width: 768px) {
    .first-screen_headline {
        font-size: 50px; }
    .first-screen_sub-headline {
        font-size: 25px; }
    .first-screen_sub-headline::after,
    .first-screen_sub-headline::before {
        display: none; }
    .second-screen_content li, span {
        font-size: 20px; }
    .resume_about-me h1::before,
    .resume_about-me h1::after {
        display: none; }
    .resume-photo {
        width: 205px;
        height: 200px; }
    .sidebar_top-link,
    .sidebar_resume-link,
    .sidebar_portf-link,
    .sidebar_cont-link {
        padding: 25px; }
    .sidebar_cont-link:before,
    .sidebar_portf-link:before,
    .sidebar_resume-link:before,
    .sidebar_top-link:before {
        font-size: 13px; }
    .second-screen_sub-title {
        font-size: 25px; }
    .portfolio-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
    .portfolio-item_info {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        margin: 10px; }
    .portfolio-item_img {
        border-radius: 100px; }
    .fourth-screen_e-mail-box,
    .fourth-screen_git-hub-box,
    .fourth-screen_phone-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }

@media all and (max-width: 675px) {
    .navigation-box {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
    .navigation {
        font-size: 20px; } }

@media all and (max-width: 545px) {
    .first-screen_headline {
        font-size: 40px; }
    .navigation-box {
        padding: 10px; }
    .navigation {
        font-size: 15px; }
    .navigation a {
        padding: 10px; }
    .sidebar {
        width: 55px; }
    .sidebar_top-link,
    .sidebar_resume-link,
    .sidebar_portf-link,
    .sidebar_cont-link {
        padding: 20px;
        margin: 10px; }
    .portfolio-item_info h2 {
        font-size: 25px; }
    .portfolio-item_info span {
        font-size: 17px; }
    .portfolio-item_info p {
        font-size: 15px; }
    .fourth-screen_e-title,
    .fourth-screen_git-hub-title,
    .fourth-screen_phone-title {
        font-size: 21px; }
    .fourth-screen_e-mail,
    .fourth-screen_git-hub-link,
    .fourth-screen_phone-number {
        font-size: 18px;
        margin: 10px; } }

@media all and (max-width: 430px) {
    .second-screen_content {
        text-align: center; }
    .second-screen_content h1,
    .second-screen_content h2 {
        font-size: 20px; }
    .second-screen_content li,
    .second-screen_content span,
    .second-screen_content p {
        font-size: 15px; }
    .second-screen_content p {
        margin: 0; }
    .resume_about-me h1 {
        width: auto;  }
    .portfolio-item_link {
        width: auto; }
    .portfolio-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .portfolio-item_info {
        margin: 15px 0 0 0; }
    .fourth-screen_content {
    height: 90vh;
}}

@media all and (max-width: 320px) {
    .sidebar {
        display: none; } }